body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 62px;
}

.title_container{
    display:flex;
}

.cupcake{
     color:slategray;
     opacity: 0;
    animation: 1s fade 1.5s forwards;
}

.factory_wrapper{
    animation: slide-left 2s forwards;
}

.factory{
    color: #eec549;

}

@keyframes slide-left{
    from{
        margin-left: 300px;
        margin-bottom: 300px;
    }
    to{
     margin-top: 50px;
     margin-left: -120px;
    }
   
}

@keyframes fade{
    to{
        opacity: 1;
    }
   
}

