body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    background: #1f1c1c;
    color: lightslategray;
}

.title_container{
    display:flex;
}

span{
    animation: 2s spin;
    animation-delay: calc(0.1s * var(--i))
}


.factory{
    color: #eec549;

}

@keyframes rotatex{
    0% {
        transform: rotateX(90deg);
    }
   
}

@keyframes spin{
    0% {
        transform: rotateY(360deg);
    }
   
}

